
body {
	background-image: url("texture-990071.jpg");
		background-size: 100%;
}
#topname {
	max-width: 100%;
	height: auto;
	width: auto\9;
}
div {
	display: inline-block;
}

#topspace {
	height: 15%;
}

a {
	margin: 2%;
}
